#t-load-overlay {
    display: none;
}

#t-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.t-load-icon {
    width: 48px;
    height: 48px;
}
